<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.c.criminalintent">

    <!-- 현재 앱의 패키지 폴더에 저장하는것이 아니면 EXTERNAL_STORAGE 이다. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CrimeActivity">
        </activity>
        <activity android:name=".CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- parentActivityName을 넣어주면 타이틀바에 여기서 설정된 부모 액티비티로 돌아가는 버튼이 생긴다.
         업버튼 효과.. 이걸 백버튼 효과로 바꾸고 싶으면 업버튼 오버라이드를 하면 된다. -->
        <activity android:name=".CrimePagerActivity"
            android:parentActivityName=".CrimeListActivity">
        </activity>
    </application>

</manifest>